
body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    padding: 30px;
    background-color: lightseagreen;
}

.nav-links{
    display: flex;
}

.nav-links a{
    text-decoration: none;
    list-style-type: none;
}

.hero{
    display: flex;
}

.hero-img img{
    width: 500px;
    height: auto;
}